extends layout

block content
  p #{content}  
  h2 
    a(href="www.twitter.com/rashthedude") Twitter
    &nbsp;
    &nbsp;
    &nbsp;
    a(href="www.github.com/rashthedude") Github
    &nbsp;
    &nbsp;
    &nbsp;
    a(href="uk.linkedin.com/in/rashidomar") LinkedIn
    &nbsp;
    &nbsp;
    &nbsp;
    a(href='/pdf/some.pdf') CV

