extends layout

block content
  p #{content}  
  h2 
    a(href="http://www.twitter.com/rashthedude") Twitter
    &nbsp;
    &nbsp;
    &nbsp;
    a(href="http://www.github.com/rashthedude") Github
    &nbsp;
    &nbsp;
    &nbsp;
    a(href="http://uk.linkedin.com/in/rashidomar") LinkedIn
    &nbsp;
    &nbsp;
    &nbsp;
    a(href='/pdf/CV.pdf') CV

