extends layout

block content
  h1= title
  h2 #{content}  
  h3 
    a(href="www.twitter.com/rashthedude") Twitter
    &nbsp;
    &nbsp;
    &nbsp;
    a(href="www.github.com/rashthedude") Github
    &nbsp;
    &nbsp;
    &nbsp;
    a(href="www.github.com/rashthedude") LinkedIn

