extends layout

block content
  h1= title
  p Welcome to #{title} and #{something} 
  a(href="www.google.de") LinkedIn
  &nbsp;
  &nbsp;
  &nbsp;
  a(href="www.github.com/rashthedude") Github
  &nbsp;
  &nbsp;
  &nbsp;
  a(href="www.twitter.com/rashthedude") Twitter
