doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tooltipster.css')
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.js')
    script(type='text/javascript' src='/javascripts/jquery.tooltipster.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $('.tooltip').tooltipster({
          position: 'top-right',
          content: $('<span><img src="images/london_bigger.jpg" /></span>'),
          theme: 'tooltipster-noir'
        });
      })
  body
    block content